name: Pylint

on: [push, release]

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pylint
      run: |
        python -m pip install --upgrade pip
        pip install pylint

    - name: Install requirements
      run: |
        pip install -r requirements.txt

    - name: Analysing the code with pylint
      run: |
        pylint `ls -R|grep .py$|xargs`
